body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
  height: 1000px;
}

.square {
  box-sizing: border-box;
  border: thin solid black;
  flex: 1 1;
}

